* {
  padding: 0;
  margin: 0;
}
body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: "Microsoft JhengHei", "Questrial", Sans-serif;
  font-size: 20px;
  font-weight: bolder;
  color: rgba(113, 110, 119, 1);
}
ul {
  list-style: none;
}
.wrapper {
  max-width: 600px;
  margin: 50px auto;
  padding: 30px;
  box-shadow: 0px 0px 16px #aeae91;
  border-radius: 10px;
}
h1 {
  font-size: 48px;
  text-align: center;
  color: rgba(231, 150, 134, 1);
  margin-bottom: 30px;
}
.todo_input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input_block {
  cursor: pointer;
  width: 400px;
  padding: 10px;
  font-size: 20px;
  color: rgba(113, 110, 119, 1);
  border: solid 3px rgba(236, 214, 199, 1);
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
.input_block:hover {
  border: 3px solid rgba(231, 150, 134, 1);
}
::placeholder {
  color: rgba(113, 110, 119, 0.3);
}
.input_create {
  cursor: pointer;
  color: rgba(231, 150, 134, 1);
  background: rgba(255, 255, 240, 1);
  font-size: 20px;
  border: solid 3px rgba(231, 150, 134, 1);
  border-radius: 10px;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}
.input_create:hover {
  color: rgba(255, 255, 240, 1);
  background: rgba(231, 150, 134, 1);
}
.todo_list {
  border-top: solid 3px rgba(231, 150, 134, 1);
  margin-top: 30px;
  padding-top: 30px;
}
.list_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.list_content {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.list_check {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.list_done p {
  text-decoration: line-through solid 3px rgba(113, 110, 119, 1);
  color: rgba(113, 110, 119, 0.5);
}
.list_delete {
  cursor: pointer;
  color: rgba(163, 147, 145, 1);
  background: rgba(255, 255, 240, 1);
  font-size: 20px;
  border: solid 3px rgba(163, 147, 145, 1);
  border-radius: 10px;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}
.list_delete:hover {
  color: rgba(255, 255, 240, 1);
  background: rgba(163, 147, 145, 1);
}
