// color
$background-color: #f7f7f7;
$main-color: #252c41;
$origin-color: #000000;
$sub-color: #ffffff;
$warning-color: #f1404b;
$warning-bg-color: #ffc4c6;

$grey-light: #dddfe6;
$grey-dark:#cccccc;

// font
$font-size-micro: 12px;
$font-size-small: 14px;
$font-size-regular: 16px;
$font-size-large: 24px; 